<div class="auth-center">
  <img src="assets/images/logo.svg" alt="Projeto Crescer" class="logo">
  <div class="auth-card">
    <h2>Criar minha senha</h2>
    <p class="subtle">Olá USUÁRIO, crie sua senha para acessar o sistema.</p>
    <form (submit)="onSubmit($event)">
      
      <label class="label" for="cp1">Senha</label>
      <input
        id="cp1"
        class="input"
        type="password"
        placeholder="********"
        [(ngModel)]="password"
        name="password"
        (blur)="passwordTouched = true"
        [class.invalid-input]="passwordTouched && !isPasswordValid"
      />
      <!-- Error Message for Password -->
      <div *ngIf="passwordTouched && passwordErrorMsg" class="error-msg">
        {{ passwordErrorMsg }}
      </div>

      <label class="label" for="cp2" style="margin-top:10px">Repita a senha</label>
      <input
        id="cp2"
        class="input"
        type="password"
        placeholder="********"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        (blur)="confirmTouched = true"
        [class.invalid-input]="confirmTouched && !isConfirmPasswordValid"
      />
      <!-- Error Message for Confirm Password -->
      <div *ngIf="confirmTouched && !isConfirmPasswordValid" class="error-msg">
        Senhas devem ser idênticas.
      </div>

      <button
        class="btn"
        style="margin-top:12px"
        type="submit"
        [disabled]="!formValid"
      >
        ACESSAR MINHA CONTA
      </button>
    </form>
  </div>
</div>
