<div class="auth-center">
  <div class="auth-card">
    <img class="logo" src="/assets/logo-projeto-crescer.svg" alt="">
    <h2>Criar minha senha</h2>
    <p class="subtle">Olá USUÁRIO, crie sua senha para acessar o sistema.</p>
    <form>
      <label class="label" for="cp1">Senha</label>
      <input id="cp1" class="input" type="password" placeholder="********">
      <label class="label" for="cp2" style="margin-top:10px">Repita a senha</label>
      <input id="cp2" class="input" type="password" placeholder="********">
      <button class="btn" style="margin-top:12px">ACESSAR MINHA CONTA</button>
    </form>
  </div>
</div>
