<header class="app-header">
  <div class="header-content">

    <div class="header-left">
      <div class="header-logo">
        <!-- <div class="logo-text">
          <strong>PROJETO CRESCER</strong>
          <span>Educando e compartilhando amor</span>
        </div> -->
        <img src="assets/images/logo.svg" alt="Logo do Projeto Crescer" class="logo-img">
      </div>

      <nav class="header-nav">
        <ul>
          <li>
            <a routerLink="dashboard" routerLinkActive="active">Painel</a>
          </li>
          <li>
            <a routerLink="alunos" routerLinkActive="active">Alunos</a>
          </li>
          <li>
            <a routerLink="usuarios" routerLinkActive="active">Usuários</a>
          </li>
          <li>
            <a routerLink="oficinas" routerLinkActive="active">Oficinas</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-user">
      <button (click)="toggleDropdown()" class="avatar-button">
        <img
          [src]="'https://ui-avatars.com/api/?name=' + user?.nome + '&background=f0f0f0&color=333&rounded=true&size=40'"
          [alt]="'Avatar de ' + user?.nome"
          class="user-avatar"
        />
      </button>

      <div *ngIf="dropdownOpen" class="user-dropdown">
        <button (click)="logout()" class="logout-button">
          Encerrar Sessão
        </button>
      </div>
    </div>
  </div>
</header>
