<div class="auth-card">
  <h2>Redefinir senha</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="label" for="newpass">Senha</label>
    <input id="newpass" class="input" type="password" placeholder="********" formControlName="password"
           [ngClass]="{'invalid-input': f.password.invalid && (f.password.dirty || f.password.touched)}">
    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="error-msg">
      <div *ngIf="f.password.errors?.['required']">Senha é obrigatória.</div>
      <div *ngIf="f.password.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres.</div>
    </div>

    <label class="label" for="confirmpass" style="margin-top:10px">Repita a senha</label>
    <input id="confirmpass" class="input" type="password" placeholder="********" formControlName="confirm"
           [ngClass]="{'invalid-input': f.confirm.invalid && (f.confirm.dirty || f.confirm.touched)}">
    <div *ngIf="f.confirm.invalid && (f.confirm.dirty || f.confirm.touched)" class="error-msg">
      <div *ngIf="f.confirm.errors?.['required']">Confirmação é obrigatória.</div>
      <div *ngIf="f.confirm.errors?.['mismatch']">Senhas devem ser idênticas.</div>
    </div>

    <button class="btn" style="margin-top:12px" type="submit" [disabled]="form.invalid || loading()">REDEFINIR SENHA</button>
  </form>

  <div class="help" style="margin-top:10px">
    <a routerLink="/auth/login">Voltar para login</a>
  </div>
</div>
