<div class="auth-center">
  <img src="assets/images/logo.png" alt="Projeto Crescer" class="logo">
  <div class="auth-card">
    <h2>Redefinir senha</h2>
    <form>
      <label class="label" for="newpass">Senha</label>
      <input id="newpass" class="input" type="password" placeholder="********">
      <label class="label" for="confirmpass" style="margin-top:10px">Repita a senha</label>
      <input id="confirmpass" class="input" type="password" placeholder="********">
      <button class="btn" style="margin-top:12px" (click)="submit()">REDEFINIR SENHA</button>
    </form>
  </div>
</div>
