<div class="auth-center">
  <div class="auth-card">
    <img class="logo" src="/assets/logo-projeto-crescer.svg" alt="">
    <h2>Redefinir senha</h2>
    <form>
      <label class="label" for="newpass">Senha</label>
      <input id="newpass" class="input" type="password" placeholder="********">
      <label class="label" for="confirmpass" style="margin-top:10px">Repita a senha</label>
      <input id="confirmpass" class="input" type="password" placeholder="********">
      <button class="btn" style="margin-top:12px">REDEFINIR SENHA</button>
    </form>
  </div>
</div>
