/* Estilo comum para todas as telas */
.container-oficina {
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  color: #333;
}

/* Tela de adicionar nova oficina */
.container-oficina.novo {
  padding: 30px 60px;
  background-color: #fff;
}

.container-oficina.novo h1 {
  color: #0D7ABC; /* título */
}

.container-oficina.novo .btn-salvar {
  background-color: #2971A5;
  color: #fff;
}

/* Tela de editar oficina */
.container-oficina.editar {
  padding: 30px 60px;
  background-color: #f9f9f9;
}

.container-oficina.editar h1 {
  color: #0D7ABC; /* título */
}

.container-oficina.editar .btn-salvar {
  background-color: #245f8a;
  color: #fff;
}
