<div class="auth-center">
  <div class="auth-card">
    <img class="logo" src="/assets/logo-projeto-crescer.svg" alt="Projeto Crescer">
    <h2>Acesso</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label class="label" for="email">E-mail</label>
      <input class="input" id="email" type="email" placeholder="meu@email.com.br" formControlName="email">
      <div class="error" *ngIf="f.email.touched && f.email.invalid">
        Informe um e-mail válido.
      </div>

      <label class="label" for="password" style="margin-top:10px">Senha</label>
      <input class="input" id="password" type="password" placeholder="************" formControlName="password">
      <div class="help"><a routerLink="/forgot-password">Esqueceu sua senha?</a></div>
      <button class="btn" type="submit" [disabled]="loading">ENTRAR</button>
    </form>
  </div>
</div>