<div class="container-aluno">
  <!-- Breadcrumb -->
  <nav class="breadcrumb">
    <a href="#">Alunos</a>
    <span>&gt;</span>
    <span class="current">Editar aluno</span>
  </nav>

  <h1>Editar aluno</h1>
 
  <div class="tabs">
    <button class="tab active">Informações cadastrais</button>
    <button class="tab">Diário</button>
  </div>

  <div class="search-card">
    <div class="search-row">
         <span class="material-symbols-outlined search-icon">search</span>
      <input type="text" placeholder="Digite sua pesquisa..." />
      <button class="btn-primary" (click)="pesquisar()">Pesquisar</button>
    </div>
    <button class="btn-add">+ Adicionar novo registro</button>
  </div><br><br><br><br>

  <div class="lista-registros">
    <div class="card-registro">
      <div class="avatar">NP</div>
      <div class="conteudo">
        <div class="titulo">
          <h3>Nome do professor</h3>
          <span class="sub">Nome da oficina</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum
          sit amet lacus a sodales. Sed eu risus porta, condimentum sem ut,
          sagittis enim. Donec ultrices vitae velit et suscipit.
        </p>
        <span class="data">12/04/2025</span>
      </div>
    </div>

    <div class="card-registro">
      <div class="avatar">NP</div>
      <div class="conteudo">
        <div class="titulo">
          <h3>Nome do professor</h3>
          <span class="sub">Nome da oficina</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum
          sit amet lacus a sodales. Sed eu risus porta, condimentum sem ut,
          sagittis enim.
        </p>
        <span class="data">12/04/2025</span>
      </div>
    </div>

    <div class="card-registro">
      <div class="avatar">NP</div>
      <div class="conteudo">
        <div class="titulo">
          <h3>Nome do professor</h3>
          <span class="sub">Nome da oficina</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum
          sit amet lacus a sodales. Sed eu risus porta, condimentum sem ut,
          sagittis enim.
        </p>
        <span class="data">12/04/2025</span>
      </div>
    </div>
  </div>
</div>
