 <link rel="stylesheet" href="tabela.component.css">

 <header class="topbar">
  <div class="logo">PROJETO CRESCER</div>
  <nav class="nav">
    <a routerLink="/dashboard">Painel</a>
    <a routerLink="/alunos">Alunos</a>
    <a routerLink="/usuarios">Usuários</a>
    <a routerLink="/oficinas">Oficinas</a>
  </nav>
  <div class="user-icon">
    <img src="https://www.svgrepo.com/show/384674/account-avatar-profile-user-13.svg" alt="Avatar" />
  </div>
</header>

<table>
  <thead>
    <tr>
      <ng-container >
        @for (coluna of colunas(); track coluna.campo) {
        <th [style.width]="coluna.width ?? null">{{ coluna.nome }}</th>
      }
    </ng-container>
      <th class="acoes">Ações</th>
    </tr>
  </thead>
  
  <tbody>
    @if (!dados() || dados().length === 0) {
      <tr>
        <td [attr.colspan]="colunas().length + 1" class="sem-dados">
          Sem dados
        </td>
      </tr>
    }
     @else {
      @for (linha of dados(); track linha.id ?? $index) {
        <tr>
          <ng-container>
          @for (coluna of colunas(); track coluna.campo) {
            <td>{{ linha[coluna.campo] }}</td>
          }
        </ng-container>
          <td class="acoes">
            <button class="btn btn-primario" (click)="onVisualizar(linha)">
              Visualizar
            </button>
            <button class="btn btn-perigo" (click)="onDeletar(linha)">
              Deletar
            </button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
