<div class="search-card">
  <div class="search-row">
    <div class="search-input-wrap">
      <span class="material-symbols-outlined search-icon">search</span>
      <input
        type="text"
        placeholder="Digite sua pesquisa..."
        [value]="termoPesquisa"
        (keyup)="onPesquisar($event)"
        class="input-pesquisa"
      />
    </div>
  </div>
</div>
<ng-content></ng-content>
<div class="table-wrap">
  <table class="table">
    <thead>
      <tr>
        <ng-container>
          @for (coluna of colunas(); track coluna.campo) {
          <th [style.width]="coluna.width ?? null">{{ coluna.nome }}</th>
          }
        </ng-container>
        <th class="acoes">Ações</th>
      </tr>
    </thead>

    <tbody>
      @if (!dados() || dados().length === 0) {
      <tr>
        <td [attr.colspan]="colunas().length + 1" class="sem-dados">
          Sem dados
        </td>
      </tr>
      } @else { @for (linha of dados(); track $index) {
      <tr>
        @for (coluna of colunas(); track coluna.campo) {
        <td>{{ getColumnValue(linha, coluna.campo) }}</td>
        }
        <td class="actions">
          <button class="btn btn-view" (click)="onVisualizar(linha)">
            {{ textoVisualizar() }}
          </button>
          <button class="btn btn-danger" (click)="onDeletar(linha)">
            {{ textoDeletar() }}
          </button>
        </td>
      </tr>
      } }
    </tbody>
  </table>
  <div class="paginacao">
    <button
      class="btn"
      [disabled]="paginacao().currentPage <= 1"
      [ngClass]="{ 'btn-danger': paginacao().currentPage <= 1 }"
      {click}="alterarPagina(paginacao().prev())"
    >
      Anterior
    </button>
    <span
      >Página {{ paginacao().currentPage }} de {{ paginacao().lastPage }}</span
    >
    <button
      class="btn"
      [disabled]="paginacao().currentPage >= paginacao().lastPage"
      [ngClass]="{
        'btn-danger': paginacao().currentPage >= paginacao().lastPage
      }"
      {click}="alterarPagina(paginacao().next)"
    >
      Próximo
    </button>
  </div>
</div>
